APP_ENV=local
APP_URL=http://localhost:8000
APP_DEBUG=true
APP_NAME=CameLog

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=camelog
DB_USER=root
DB_PASSWORD=

# Wklej tutaj swój klucz API z https://perenual.com/docs/api
# Jeśli pole jest puste, aplikacja użyje danych mockowych dla wyszukiwania gatunków
PERENUAL_API_KEY=

SESSION_LIFETIME=120
UPLOAD_MAX_SIZE=5242880
